workload_name          = "sample-workload"
environment_name       = "dev"
location               = "eastus"
resource_group_name    = "rg-oss-data-on-aks-dev"
cluster_name           = "aks-oss-data-on-aks-dev"
dns_prefix             = "aks-oss-data-on-aks-dev"
tags = {
  owner = "platform-team"
}
