environment_name              = "dev"
location                      = "swedencentral"
resource_group_name           = "rg-opensearch-aks-dev"
cluster_name                  = "aks-opensearch-dev"
deploy_snapshot_storage       = true
snapshot_storage_account_name = "opssnapdev001"
snapshot_container_name       = "opensearch-snapshots"
tags = {
  owner = "data-platform-team"
}
